.search__page-logo {
  object-fit: contain;
  height: 50px;
  margin-right: 50px;
}

.search__page-header {
  display: flex;
  position: sticky;
  z-index: 100;
  background-color: white;
  top: 0;
  padding: 30px;
  border-bottom: 1px solid lightgray;
}

.search__page-header-body > .search > .search__input {
  margin-top: 0;
  width: unset;
  margin: unset;
  max-width: unset;
}

.search__page-options {
  display: flex;
  align-items: center;
  color: grey;
  margin-top: 30px;
}

.search__page-options-right,
.search__page-options-left {
  display: flex;
}

.search__page-options-right a,
.search__page-options-left a {
  text-decoration: none;
  color: gray;
  margin-left: 3px;
}

.search__page-options-right {
  margin-left: 80px;
}
.search__page-option {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.search__page-result-title {
  text-decoration: none;
}
.search__page-result-title:hover {
  text-decoration: underline;
}
.search__page-result-title > h2 {
  font-weight: 500;
}
.search__page-result-count {
  color: #70757a;
}
.search__page-result {
  margin: 40px 0;
}
.search__page-results {
  max-width: 650px;
  margin-top: 20px;
  margin-left: 240px;
  margin-bottom: 100px;
}

.search__page-result-snippet{
    margin-top: 10px;
}

.search__page-result-img{
    object-fit: contain;
    height: 20px;
    width: 20px;
    margin-right: 10px;
}
